<nav>
        <h4 class=" mb-4 text-center" style="font-weight: bold;">User Menu</h4>
      <div class="sidebar-sticky text-left">
       
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/booking">Book Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/family-booking">Book for Family</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rescheduleview">Reschedule Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-booking">View Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-profile">View Profile</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/user-dashboard">Back to Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>