
 
<div id="carouselExampleIndicators" class="carousel slide slider-container" data-ride="carousel" data-interval="3000">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.shutterstock.com/image-vector/covid-vaccine-bottles-seamless-vector-260nw-1936098811.jpg" alt="Slide 1">
    </div>
    <div class="carousel-item">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSkN0zftkhS_wKk3q24uCNwzqT0dOpt9vRkhg&s" alt="Slide 2">
    </div>
    <div class="carousel-item">
      <img src="https://core-docs.s3.amazonaws.com/greenwood_community_school_corporation_ar/article/image/large_683ad575-f39b-4412-a126-a5d0e855073e.jpg" alt="Slide 3">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
  </a>
</div>
 
<h1 class="head"> WELCOME TO CAMBIRA LIMITED</h1>
 
 
<div class="box-grid">
  <div class="about-box info-box hoverable-box">
    <div class="photo">
      <img src="https://cdn.cancercenter.com/-/media/ctca/images/others/blogs/2018/01-january/07-blog-vaccines-l.jpg" alt="About Us Photo" />
    </div>
    <div class="description">
      <h2>About Us</h2>
      <p>
        We are a dedicated team focused on delivering high-quality solutions to help you
        achieve your goals. Our mission is to provide innovative and efficient services tailored to your needs.
      </p>
    </div>
  </div>
 
  <div class="about-box info-box hoverable-box">
    <div class="photo">
      <img src="https://cdn.cancercenter.com/-/media/ctca/images/others/blogs/2018/01-january/07-blog-vaccines-l.jpg" alt="Products Photo" />
    </div>
    <div class="description">
      <h2>Products</h2>
      <p>
        Explore our wide range of innovative products designed to make your life easier and more efficient.
      </p>
    </div>
  </div>
 
  <div class="about-box info-box hoverable-box">
    <div class="photo">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS5PUVcqEF8OG7CkOmtVnzXowcaLbZy30Jgxw&s" alt="Booking Photo" />
    </div>
    <div class="description">
      <h2>BOOK your slots</h2>
      <p>
        Schedule your appointments quickly and easily through our seamless booking system.
      </p>
    </div>
  </div>
 
  <div class="about-box info-box hoverable-box">
    <div class="photo">
      <img src="https://img.freepik.com/free-photo/hot-line-contact-us-call-center-search-interface_53876-124009.jpg" alt="Contact Us Photo" />
    </div>
    <div class="description">
      <h2>Contact Us</h2>
      <p>
        Have questions? Reach out to us anytime and our team will be happy to assist you.
      </p>
    </div>
  </div>
</div>