
  <div class="container">
    <h2 class="mb-4 text-center text-primary">Add Vaccine</h2>
    <div *ngIf="addVaccineError" class="alert alert-danger">{{ addVaccineError }}</div>
    <div *ngIf="addVaccineSuccess" class="alert alert-success">{{ addVaccineSuccess }}</div>
    <form (ngSubmit)="addVaccine()" #vaccineForm="ngForm">
      <div class="form-group-inline">
        <label for="vaccineName" class="form-label">Vaccine Name</label>
        <input id="vaccineName" class="form-control" [(ngModel)]="vaccineName" name="vaccineName" required />
      </div>
      <div class="form-group-inline">
        <label for="vaccineDescription" class="form-label">Description</label>
        <input id="vaccineDescription" class="form-control" [(ngModel)]="vaccineDescription" name="vaccineDescription" required />
      </div>
      <button type="submit" class="btn btn-primary">Add Vaccine</button>
    </form>
  </div>

