<div class="container mt-5">
  <h3 style="display:inline-block;">Vaccine List</h3>
  <input type="text" [(ngModel)]="searchText" placeholder="Search..." class="form-control search-bar" style="width: 250px; float: right; margin-bottom: 10px;" />
  <div style="clear: both;"></div>
  <div *ngIf="vaccineError" class="alert alert-danger">{{ vaccineError }}</div>
  <table class="table table-bordered" *ngIf="filteredVaccines.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let v of filteredVaccines; let i = index">
        <td>{{ v.vaccineId }}</td>
        <td>
          <ng-container *ngIf="editIndex === i; else showName">
            <input [(ngModel)]="editName" class="form-control" style="width: 120px; display: inline-block;" />
          </ng-container>
          <ng-template #showName>
            {{ v.name }}
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="editIndex === i; else showDesc">
            <input [(ngModel)]="editDescription" class="form-control" style="width: 180px; display: inline-block;" />
          </ng-container>
          <ng-template #showDesc>
            {{ v.description }}
          </ng-template>
        </td>
        <td>
          <ng-container *ngIf="editIndex === i; else showActions">
            <button class="btn btn-success btn-sm ml-1" (click)="saveVaccine(v)">Save</button>
            <button class="btn btn-secondary btn-sm ml-1" (click)="cancelEdit()">Cancel</button>
          </ng-container>
          <ng-template #showActions>
            <button class="btn btn-primary btn-sm ml-2" (click)="editVaccine(v, i)">Edit</button>
            <button class="btn btn-danger btn-sm ml-2" (click)="deleteVaccine(v.vaccineId, i)">Delete</button>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="!vaccineError && filteredVaccines.length === 0" class="text-muted">No vaccines found.</div>
</div>