
<!-- <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">  
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Appointments</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Vaccines</a>
        </li>
         <li class="nav-item">
          <a class="nav-link" href="#">Family</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li> -->
      <!-- ></ul>
    </div>
  </div>
</nav> -- -->

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid d-flex justify-content-between">
    <!-- Company name on the left -->
    <a class="navbar-brand fw-bold text-white" href="#">Company Name</a>

    <!-- Navigation links on the right -->
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item me-3">
          <a class="nav-link text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" href="#">Appointments</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" href="#">Vaccines</a>
        </li>
        <li class="nav-item me-3">
          <a class="nav-link text-white" href="#">Family</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
