<div class="container py-5">
  <div class="card shadow-sm">
    <div class="card-body">
      <h3 class="text-primary mb-4">Vaccination History</h3>
      <div class="table-responsive">
        <table class="table table-bordered table-hover align-middle bg-white">
          <thead class="table-light">
            <tr>
              <th>Name</th>
              <th>Vaccine Name</th>
              <th>Date </th>
              <!-- <th>Status</th>
              <th>Download certificate</th> -->
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let vaccine of vaccinationData | slice:currentIndex:currentIndex+5; let i = index">
              <td>{{ vaccine.uname }}</td>
              <td>{{ vaccine.name }}</td>
              <td>{{ vaccine.date }}</td>
              <!-- <td>
                <input type="checkbox" [checked]="vaccine.status === 'Taken'" (change)="toggleStatus(vaccine)" />
                <span>{{ vaccine.status === 'Taken' ? 'Taken' : 'Not Taken' }}</span>
              </td>
              <td>
                <app-certificate *ngIf="vaccine.status === 'Taken'"></app-certificate>
                <button *ngIf="vaccine.status !== 'Taken'" class="btn btn-secondary" disabled>Download Disabled</button>
              </td> -->
            </tr>
          </tbody>
        </table>
      </div>
      <div class="d-flex justify-content-center align-items-center mt-3 gap-2">
        <button class="btn btn-outline-primary me-2" (click)="prevPage()" [disabled]="currentIndex === 0">
          &#8592;
        </button>
        <button class="btn btn-outline-primary" (click)="nextPage()" [disabled]="currentIndex + 5 >= vaccinationData.length">
          &#8594;
        </button>
      </div>
    </div>
  </div>
</div>