

<div class="container scrollable-container">

 <div class="head">
<h1>User Dashboard</h1>
</div>

 <div class="grid md:grid-cols-2 gap-6 main-content">
        <!-- Card 1 -->
 <div class="p-5 bg-gray-50 rounded-lg space-y-2 card-spacing card-hover-shadow card-bordered card-with-image">
  <div class="card-flex">
    <img src="https://cdn.cancercenter.com/-/media/ctca/images/others/blogs/2018/01-january/07-blog-vaccines-l.jpg" alt="Vaccine" class="card-image" />
    <div class="card-content">
      <h3 class="text-lg font-semibold">Book your next vaccine</h3>
      <p class="text-sm text-gray-600">Schedule your next vaccine appointment with ease.</p>
      <button class="mt-2 px-4 py-2 bg-gray-200 text-sm font-medium rounded hover:bg-gray-500 styled-btn">
        <a class="text-white text-decoration-none" routerLink="/booking">Book Appointment</a> 
      </button>
    </div>
  </div>
</div>

        <div class="p-5 bg-gray-50 rounded-lg space-y-2 card-spacing card-hover-shadow card-bordered card-with-image">
  <div class="card-flex">
    <img src="assets/vaccine.png" alt="Vaccine" class="card-image" />
    <div class="card-content">
      <h3 class="text-lg font-semibold">Book your next vaccine</h3>
      <p class="text-sm text-gray-600">Schedule your next vaccine appointment with ease.</p>
      <button class="mt-2 px-4 py-2 bg-gray-200 text-sm font-medium rounded hover:bg-gray-500 styled-btn">
       <a class="text-white text-decoration-none " routerLink="/family-booking">Book Slot for Family</a> 
      </button>
    </div>
  </div>
</div>

     <div class="p-5 bg-gray-50 rounded-lg space-y-2 card-spacing card-hover-shadow card-bordered card-with-image">
  <div class="card-flex">
    <img src="assets/vaccine.png" alt="Vaccine" class="card-image" />
    <div class="card-content">
      <h3 class="text-lg font-semibold">Book your next vaccine</h3>
      <p class="text-sm text-gray-600">Schedule your next vaccine appointment with ease.</p>
      <button class="mt-2 px-4 py-2 bg-gray-200 text-sm font-medium rounded hover:bg-gray-500 styled-btn">
         <a class="text-white text-decoration-none " routerLink="/view-booking">View Your Booking</a> 
      </button>
    </div>
  </div>
</div>

 <div class="p-5 bg-gray-50 rounded-lg space-y-2 card-spacing card-hover-shadow card-bordered card-with-image">
  <div class="card-flex">
    <img src="assets/vaccine.png" alt="Vaccine" class="card-image" />
    <div class="card-content">
      <h3 class="text-lg font-semibold">Book your next vaccine</h3>
      <p class="text-sm text-gray-600">Schedule your next vaccine appointment with ease.</p>
      <button class="mt-2 px-4 py-2 bg-gray-200 text-sm font-medium rounded hover:bg-gray-500">
        Reschedule Appointment
      </button>
    </div>
  </div>
</div>

         <div class="p-5 bg-gray-50 rounded-lg space-y-2 card-spacing card-hover-shadow card-bordered card-with-image">
  <div class="card-flex">
    <img src="assets/vaccine.png" alt="Vaccine" class="card-image" />
    <div class="card-content">
      <h3 class="text-lg font-semibold">Book your next vaccine</h3>
      <p class="text-sm text-gray-600">Schedule your next vaccine appointment with ease.</p>
      <button class="mt-2 px-4 py-2 bg-gray-200 text-sm font-medium rounded hover:bg-gray-500 styled-btn">
       <a class="text-white text-decoration-none " routerLink="/user-profile">Manage Your Profile</a> 
      </button>
    </div>
  </div>
</div>


</div>
<!-- Header that spans across the top -->



