<div class="container-fluid">
  <div class="row">
   
    <div class="col-md-2 col-lg-2 mt-5 sdd" >
 
      <nav>
        <h4 class=" mb-4 text-center" style="font-weight: bold;">User Menu</h4>
      <div class="sidebar-sticky text-left">
       
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" routerLink="/booking">Book Appointment</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/family-booking">Book for Family</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/rescheduleview">Reschedule Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/view-booking">View Booking</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/user-profile">View Profile</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" routerLink="/user-dashboard">Back to Dashboard</a>
          </li>
        </ul>
      </div>
    </nav>
      <!-- <app-usersidebar></app-usersidebar> -->
    </div>
 
 
    <div class="col-md-10 col-lg-10">
      <h2 class="text-center " style="text-decoration: underline; margin-right:300px;">USER DASHBOARD</h2>
      <div class="booking-wrapper">
 
        <div class="booking-container">
          <img src="/assets/vaccine.jpg" alt="Slide 1" class="center-image">
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Header that spans across the top -->



