



<div class="book-wrapper">
  <div class="container mt-4 ">
   
    <h2 class="mb-4 text-center text-primary">Book Your Vaccine Appointment</h2>
 
    <!-- Vaccine Type -->
    <div class="form-group-inline">
      <label>Vaccine Type:</label>
      <select class="form-control" [(ngModel)]="selectedVaccine" (change)="onVaccineChange()">
        <option value="">-- Select Vaccine --</option>
        <option *ngFor="let vaccine of uniqueVaccineNames" [value]="vaccine">{{ vaccine }}</option>
      </select>
    </div>
 
    <!-- State -->
    <div class="form-group-inline">
      <label for="state">State:</label>
      <select id="state" class="form-control" [(ngModel)]="selectedState" (change)="onStateChange()">
        <option value="">-- Select State --</option>
        <option *ngFor="let state of uniqueLocationStates" [value]="state">{{ state }}</option>
      </select>
    </div>
 
    <!-- City -->
    <div class="form-group-inline">
      <label for="city">City:</label>
      <select id="city" class="form-control" [(ngModel)]="selectedCity" [disabled]="!selectedState">
        <option value="">-- Select City --</option>
        <option *ngFor="let city of uniqueLocationCities" [value]="city">{{ city }}</option>
      </select>
    </div>
 
    <div class="form-group-inline">
      <label for="vcn">Vaccination Center Name:</label>
      <select id="vcn" class="form-control" [(ngModel)]="vaccinationCenterName" [disabled]="!selectedState">
        <option value="">-- Select Vaccination Center --</option>
        <option *ngFor="let center of slots" [value]="center.vaccinationCenterName">
          {{ center.vaccinationCenterName }}
        </option>
      </select>
    </div>

    <!-- Select Date -->
    <div class="form-group-inline">
      <label for="selectdate">Select Date:</label>
      <select id="selectdate" class="form-control" [(ngModel)]="selectedDate" [disabled]="!selectedVaccine || !selectedState || !selectedCity">
        <option value="">-- Select Date --</option>
        <option *ngFor="let date of uniqueSlotDates" [value]="date">{{ date | date:'medium' }}</option>
      </select>
    </div>
 
    <button
      class="btn btn-primary mt-3 w-100"
      (click)="bookAppointment()"
      [disabled]="!selectedVaccine || !selectedState || !selectedCity || !selectedDate">
      Book Appointment
    </button>
  </div>

</div>