.table {
  margin-top: 20px;
}
 
a {
  cursor: pointer;
  text-decoration: none;
}
 
a:hover {
  text-decoration: underline;
}
 
.container {
  width: 100%;
  margin-bottom: 120px;
  max-width: 1200px;
  background: #ffffff;
  padding: 70px 80px;
  border: 3px solid #007bff;
  border-radius: 20px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  text-align: center;
}